// @mixin clearfix {
//     &:after{
//         content: "";
//         display: block;
//         clear: both;
//     }
// }
// переменняя $social
// .wrap {
//     @include clearfix;
// }

%clearfix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

.wrap1 {
    @extend %clearfix;
}

.wrap {
    @extend %clearfix;
}

.social {
    display: block;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
}

@each $social in (fb,vk,tw){
    .social_#{$social} {
        background: url('/img/#{$social}.png') center center no-repeat;

        &:hover {
            background: url('/img/#{$social}-hover.png') center center no-repeat;
        }
    }
}

/*------------- welcome-section --------------*/

/* .welcome-section {
    background: #070707 url(/img/bg_1.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    min-height: 650px;
    position: relative;
} */

/* 

.welcome-content_text {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateY(-50%);
}   

.welcome-content_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}    */