/* --------------- base settings -------------------*/
%clearfix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

%page {
    position: relative;
    height: 100vh;    
    display: block;
    width: 100%;
    min-height: 650px;
}

%content__centerY {
    display: table-cell;
    vertical-align: middle;     
}

.title {
    font-family: gagalinregular;
    font-size: 72px;  
    text-transform: uppercase;

    &_center{
        text-align: center;
    }
    &_black {
        color: #2f3234;
    }
    &_white {
        color: #fff;
    }
    &_yellow {
        color: #f9b43b;
    }
}

.subtitle {
    font-family: lifehackmedium;
    font-size: 65px;
    color: #fff;
    line-height: 60px;
    margin-top: 20px;
}


// -------------header----------------

.header {
    width: 960px;
    height: 90px;
    @extend %clearfix; 
    position: absolute;  
}

.header__logo {
    float: left;
    width: 92px;
    margin-left: 10px;
    margin-top: 10px;
}

.header__menu {
    margin-right: 10px;   
    float: right;    
    margin-top: 25px;
    font-family: ubuntumedium;
    text-align: right;
    line-height: 35px;
}

.logo_pic {
    display: block;
    max-height: 69px;
    max-width: 92px;
}

.menu__item {
    display: inline-block;
    color: #fff;
    &:before {
        content: "•";
    }
    &:first-child::before{
        content: "";
    }
}    

.menu__link {
    display: inline-block;
    padding: 0px 12px;  
    &_text {
        color: #fff;
        font-size: 13px;
    } 
}

//  .menu {
//      width: ???
//     text-align: justify;
// }

// .menu::after {
//     content: "";
//     display: inline-block;
//     width: 100%;
//     height: 0px;
// } 

.btn {    
    background: #e45028;
    position: relative;
    border-radius: 5px;     
    width: 97px;
    height: 35px;
    text-align: center;
    &:before{
        content: "";
    }
}
// -------------welcome-section----------------
.welcome {
     @extend %page;
     background: #070707 url(/img/bg_1.jpg) center no-repeat;
     background-size: cover;    
     &__content {
        @extend %content__centerY;
        padding: 0 10px;  
        @extend %clearfix;             
        &__item{
            width: 50%;
            // float: left;    
            display: table-cell;
            vertical-align: middle;         
        }   
    } 

    &__img img{
        display: block;
        margin: auto;    
    }
    
}

/* ---------------- about-section ---------------*/


.about {
    @extend %page;       
    background: #f9f3ef url(/img/bg_2.jpg) center no-repeat;
    background-size: cover;  
    color: #2f3234;   
    &__content {
        @extend %content__centerY;     
    }
}

.about__block {
    @extend %clearfix;
    margin: 88px 0 ;
}

.about__item {
    text-align: center;
    width: 300px;   
    float: left;
    margin: 0 10px;
    &__img {
        height: 92px;
    }
    &__title {
        margin-top: 34px;
        font-family: lifehackmedium;
        font-size: 24px;
    }
    &__text {
        line-height: 24px;
        margin-top: 25px;        
    }
}
