/* --------------- base settings -------------------*/
%clearfix {
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

/* ---------------- секция мы лучшие ---------------*/

%page {
    position: relative;
    height: 100vh;    
    display: block;
    width: 100%;
    min-height: 650px;
    background: lightblue;
}

%content__centerY {
    display: table-cell;
    vertical-align: middle;  
   
}

.title {
    &_center{
        text-align: center;
    }
    &_black {
        color: #2f3234;
    }
    &_white {
        color: #fff;
    }
    &_yellow {
        color: #f9b43b;
    }
}

.container {
    display: table;
    height: 100%;
}

.test {
     @extend %page;
     background: #070707 url(/img/bg_1.jpg) center no-repeat;
     background-size: cover;     
}

.about {
    @extend %page;       
    background: #f9f3ef url(/img/bg_2.jpg) center no-repeat;
    background-size: cover;  
    color: #2f3234;   

}

.about__content {
    @extend %content__centerY;     
}


.about__item {
    text-align: center;
    width: 300px;   
    float: left;
    margin: 0 10px;
    &__img {

    }
    &__title {
        font-family: lifehackmedium;
        font-size: 24px;

    }
    &__text {
        line-height: 24px;
        
    }
}

.about__block {
    @extend %clearfix;
    margin: 90px 0;
}

