.arrow-scroll {
    position: fixed;
    bottom: 5%;
    left: 50%;
}

.arrow-link {
    display: block;
}

.navigation {
    position: fixed;
    top: 10%;
    right: 10%;
}

.navigation__dot {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    cursor: pointer;   
    margin: 15px 0px; 
    border-radius: 50%;    
}

.navigation__dot_active::after{
    border: 1px solid #fff;
    content: " ";
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 50%;
    left: -6px;
    top: -6px;
}