/*------------- welcome-section --------------*/

/* .welcome-section {
    background: #070707 url(/img/bg_1.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    min-height: 650px;
    position: relative;
} */

.header-logo, .header-menu {
    float: left;
}

.header-logo {
    width: 92px;
    margin-left: 10px;
    margin-top: 10px;
}

.header-menu {
    margin-right: 10px;   
    float: right;    
    margin-top: 25px;
    font-family: ubuntumedium;
    text-align: right;
    line-height: 35px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.clearfix::before {
    display: table;
    content: "";
}

.logo {
    display: inline-block;
}

.logo_pic {
    display: block;
    max-height: 69px;
    max-width: 92px;
}

.menu-item {
    display: inline-block;
    color: #fff;
}

.menu-item::before {
    content: "•";
}

.menu-item:last-child::before{
    content: "";
}

.menu-item:first-child::before{
    content: "";
}


/* .menu {
    text-align: justify;
}

.menu::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0px;
} */

.menu-link {
    display: inline-block;
    padding: 0px 12px;   
}

.menu-link_button {
    
    background: #e45028;
     position: relative;
     border-radius: 5px;     
     width: 97px;
     height: 35px;
     text-align: center;
}

.menu-link_text {
    color: #fff;
    font-size: 13px;
}

.header {
    height: 90px;
}

/* 

.welcome-content_text {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateY(-50%);
}   

.welcome-content_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}    */