/*------------- welcome-section --------------*/

/* .welcome-section {
    background: #070707 url(/img/bg_1.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    min-height: 650px;
    position: relative;
} */



/* 

.welcome-content_text {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateY(-50%);
}   

.welcome-content_img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}    */