.arrow-scroll {
    position: absolute;
    bottom: 36px;
    left: 535px;
}

.arrow-link {
    display: block;  
    &:hover {
        border-bottom: 1px solid #fff;
    }  
}

.navigation {
    position: fixed;
    top: 12.5%;
    right: 5%;
}

.navigation__dot {
    position: relative;
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    cursor: pointer;   
    margin: 15px 0px; 
    border-radius: 50%; 

    &_active:after, &:hover:after{
        border: 1px solid #fff;
        content: "";
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        border-radius: 50%;
        left: -5px;
        top: -5px;
    }  
}

