.team {    
     @extend %page;
     background: #070707 url(../img/bg_3.jpg) center no-repeat / cover;
    // background-size: cover;

    &__block{
         position: absolute;
         height: 100%;
         width: 50%;
         background: rgba(47, 50, 52, 0.93);
         left: 50%;
         color: #fff;
         padding-left: 80px;
         padding-top: 5%;
    }
    
    &__people{
        margin-top: 50px;
    }
}

.people {
    position: relative;
    margin-bottom: 40px;
    
    &:before {
        content: ''; 
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent $yellow transparent;
        margin-right: 10px;
    }
    
    &__info {
        @extend %clearfix;
        padding-top: 17px;
        height: 0;
        overflow: hidden;
    }

    &__name {
        font-family: $title-font;
        font-size: 14px;
        display: inline-block;
    }

    &__img {
        float: left;
        border-radius: 50%; 
        width: 100px;
        height: 100px;
        background: center no-repeat / cover;     
        margin: 0 17px;  
    }

    &__post {
        font-weight: 900;
    }

    &__comment {
        margin-top: 20px;
        width: 210px;
        display: inline-block;
    }  

    &_active {
        .people__name {
            color: $yellow;
        }
        .people__info {
            height: 100%;
        }

        &:before {            
            border-width: 5px 5px 0 5px;
            border-color: $yellow transparent transparent transparent;
        }
    }
}