.btn {
  padding: 0 rem(15px);
  line-height: rem(35px);
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #fff;
  display: inline-flex;
  font-size: rem(13px);
  @include ubuntu(medium);
    &:hover {
       background-color: darken($red, 7%);
    }
}