.btn {
  padding: 0 15px;
  line-height: 35px;
  background: $red;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  display: inline-flex;
  font-size: 13px;
  @include ubuntu(medium);
    &:hover {
       background-color: darken($red, 7%);
    }
}