.section-title {
  @include gagalin();
  font-size: rem(72px);
  color: $yellow;
  margin-bottom: rem(15px);

  &_color_black {
    color: $black;
  }
  &_color_white {
    color: #fff;
  }

  @include tablets {
      font-size: 4.7rem;
    }

  @include min-phones {
      font-size: 50px;
    }
}

