.best {
  background: url('../img/bg/bg_2.jpg') center center no-repeat;
  background-size: cover;
  text-align: center;
  flex-direction: column;
  justify-content: center; 
}

.best__wrap {
  margin-bottom: rem(125px);

  @include tablets {
    margin-bottom: 37%;
  }  

  @include phones {
    margin-bottom: 21%;
  } 
}

.best__desc {

  @include phones {
    text-align: left;
    margin-left: 6.5%;
  }  
}

.best__title{
  font-size: 24px;
  @include lifehack();
  line-height: rem(28px);  
  margin-bottom: rem(13px);

  @include phones {    
    margin-bottom: rem(20px);
  }

  @include min-phones {
    font-size: rem(22px);
  }

  @include min-height {
    margin-bottom: 0;
  }
}

.best__list {
  padding-top: rem(50px);
  display: flex;
  justify-content: space-between;

  @include tablets {
    padding-top: rem(150px);
  }

  @include phones {
    flex-direction: column;
    padding-top: 12%;
  }
}

.best__item {
  margin: 0 rem(10px);  
  flex: 1;
  
 // width: rem(300px);

  @include phones {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: rem(60px);
        
  }
}

.best__pic {
 height: 90px;
 width: 90px;
 margin: 0 auto;
  margin-bottom: rem(32px);
  @include phones {
    margin-bottom: 0;
    margin-left: rem(20px);
  }
}

.best__icon {
  max-width: 90px;
  max-height: 90px;
  &_green{
    fill: $green;
  }
  &_yellow {
    fill: $yellow;
  }
  &_red {
    fill: $red;
  }
}

.best__dest {
  line-height: rem(24px);
  font-size: 14px;

  @include min-phones {   
    font-size: rem(13px);
    line-height: rem(20px);
  }
}

.best__wrap .section-title {
  
  @include phones {
    font-size: 50px;
  }
}

