.burgers {
  background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
}

.burgers__wrap { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.burgers__block {
  display: flex;
  align-items: center;
  height: 480px;
  position: relative;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 14%;
    height: auto;
   }

  @include phones() {
    width: 96%;
    margin: 0 auto;
  }
}


.burgers__image, .burgers__content {
  flex-basis: rem(470px);  

  @include tablets {
    flex-basis: auto;
  }
}

.burgers__content {
  margin-top: -123px;
  margin-left: 22px;

  @include tablets {
    margin-top: 20px;
    margin-left: 0;
  }

  @include phones {
    margin-top: 10px;;
  }

  @include min-height {
    margin-top: 0;
  }
}

.burgers__image-pic {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  
  @include tablets {
    padding-top: 85px;    
  }

  @include phones {
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 102px; 
  }
}

.burgers__title {
  line-height: 64px;
  margin-bottom: 40px; 

  @include tablets {
    margin-bottom: 20px;
  }

  @include phones {
    font-size: 50px;
    padding: 0 10%;
    margin-bottom: 10px;
  }

  @include min-height {
    font-size: 30px;
    margin-bottom: 0;
    padding: 0 5%;
  }
}

.burgers__text {
  @include ubuntu();
  font-size: 14px;
  color: #fff;
  line-height: 24px;

  @include min-height {
    font-size: 12px;
    line-height: 22px;
  }
}

.burgers__order {
  display: flex;
  color: $red;
  @include gagalin();
  align-items: baseline; 
  
  @include tablets {
    justify-content: center;
    margin-top: 15px;
  }

  @include phones {
    margin-top: 0px;
  }
}

.burgers__num {
  font-size: 72px;  

  @include phones {
    font-size: 50px;
  }
}

.burgers__currency {
  font-size: 30px;

  @include phones{
    font-size: 24px;
  }
}

.burgers__order .btn {
  margin-left: 25px;
}


.products {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 0;
  width: 90px;
  height: 90px;
  background: #f08c33;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: $red;    
  }

  @include tablets {
    left: 40px;
    top: 8px;
  }

  @include phones {
    left: 0;
    top: -13px;
  }
}

.products-icon {
  margin-top: 10px;
  fill: #fff;
  width: 46px;
  height: 44px;
}

.products__text {
  @include gagalin();
  font-size: 14px;
  line-height: 28px;
  color: #fff;
}

.products__block {
  border-radius: 5px;
  background: rgba(#fff, .9);  
  position: absolute;  
  z-index: 10;
  width: 270px;
  height: auto;
  left: 90px;
  top: 5px; 
  display: none;

  @include tablets {
    left: 130px;
    top: 8px;
    width: 320px;    
  }

  @include phones {
    left: 90px;
    top: -13px;
    width: 260px;
  }

  @include min-phones {
    width: 210px;
  }
} 

.products__content {
  margin: 15px 20px; 

  @include tablets {
    margin-right: 70px;
  }

  @include phones {
    margin-right: 40px;
  }

  @include min-phones {
    margin-right: 35px;
    margin-left: 10px;
  }
}

.products__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6px 0px;
  
}

.products__desc {
  @include ubuntu(medium);
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  flex: 1.3;
}

.products__gram {
   @include ubuntu();
  font-size: 14px;
  line-height: 24px;
  flex: 1;
  text-align: right;
}

.products__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.products__svg{
    fill: #fff;
    width: 45px;
    height: 45px; 
    
    &_beef, &_sauce {
      fill: $red;
    }

    &_salad, &_cucumber {
      fill: $green;
    }

    &_buns, &_cheese {
      fill: $yellow;
    }
}

.products-close {
  opacity: .8;
  display: none;
  position: absolute;
  right: rem(15px);
  top: 10px;
  width: rem(25px);
  height: rem(25px);

  @include tablets {
    display: block;
  }
}

.products-close:before, .products-close:after {
  position: absolute;
  left: 10px;
  content: '';
  height: rem(26px);
  width: rem(4px);
  background-color: $red;
  border-radius: 3px;
}
.products-close:before {
  transform: rotate(45deg);
}
.products-close:after {
  transform: rotate(-45deg);
}


.kkal {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 80px;
  opacity: .5;

  @include tablets {
    top: 8px;
    right: 40px;
    left: auto;
    bottom: auto;
  }

  @include phones {
    right: 0;
    top: -13px;
  }

}

.kkal-icon {
  display: block;
  position: absolute;
  fill: #fff;
  width: 60px;
  height: 60px;
}

.kkal__text, .kkal__num {
  @include gagalin();
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.kkal__num {
  font-size: 20px;
  margin-top: 25px;
  padding-bottom:10px; 
}


.burgers__arrow-link {
  position: absolute;
  height: rem(28px);
  opacity: .7;
   // display: block;  
  &:hover {
      opacity: 1;
  }  

  &_left {
    left: -3%;    
    transform: rotate(90deg);
    
    @include tablets {
      left: 10px;
    }

    @include phones {
      left: -3%;
    }
  }

  &_right {
    transform: rotate(-90deg);
    right: -3%;

    @include tablets {
      right: 10px;
    }

    @include phones {
      right: -3%;
    }
  }
}

.burgers__arrow-icon {
  fill: #fff;
  height: rem(28px);
  width: rem(28px);
}