.hero {
  background: url('../img/bg/bg_1.jpg') center center no-repeat;
  background-size: cover;
  justify-content: flex-start;
  position: relative;
}

.hero__wrapper {
  height: 75%;

  @include tablets {
    height: auto;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  @include ubuntu(medium);
  font-size: rem(13px);

  @include tablets {
    margin-left: rem(10px);
    margin-right: rem(10px);
  }
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__links {
  display: flex;
  align-items: center;
}

.logo__img {
  max-height: 69px;
  position: relative;
  z-index: 10;
}

.nav {
  margin-right: rem(15px);
  @include tablets {
    display: none;
  }
}
.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    background: #fff;
    border-radius: 50%;
    margin: 0 rem(16px);
  }
}

.nav__link {
  color: #fff;
  font-size: rem(13px);
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
        text-decoration: underline;
    }
}

.hero__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__present {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 15%;
  }

  @include phones() {
    padding: 0 10%;
  }
}

.hero__desc {
  color: #fff;
  font-size: rem(65px);
  @include lifehack();
  line-height: rem(60px);

  @include phones() {
    font-size: rem(60px);
    margin-top: -15px;
  }

  @include min-phones {
    font-size: rem(50px);
  }
}

.hero__image, .hero__text {
  flex-basis: rem(470px);  
  margin-left: rem(10px);
  @include tablets {
    margin-left: 0;
  }
}

.hero__image {
  display: flex;
  align-items: flex-end;
}

.hero__text {
  margin-top: rem(60px);

  @include tablets {
    margin-top: rem(8px);
  } 

  @include phones {
    margin-top: rem(30px);
  } 
}

.hero__image-pic {
  max-width: 100%;

  @include tablets {
    margin-top: rem(68px);
  }  

  @include phones {
    margin-top: rem(35px);
  }  

  @include min-height {
    margin-top: 0px;
  }
}


.arrow__scroll {
  width: rem(30px);
  height: rem(30px);
  position: absolute;
  // bottom: rem(36px);
  left: 35%;
}

.arrow__link {
  position: absolute;
  height: 30px;
  left: calc(50% - 15px);
  bottom: rem(33px);
  opacity: .8;
   // display: block;  
    &:hover {
        opacity: 1
    }  
}

.arrow__icon {
  fill: #fff;
  height: 30px;
  width: 30px;
}