.hero {
  background: url('../img/bg/bg_1.jpg') center center no-repeat;
  background-size: cover;
  justify-content: flex-start;
  position: relative;
}

.hero__wrapper {
  height: 75%;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  @include ubuntu(medium);
  font-size: 13px;
}

.header__btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo__img {
  max-height: 69px;
}

.nav {
  margin-right: 15px;
}
.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;

  &:last-child {
    &:after {
      display: none;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 0 16px;
  }
}

.nav__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
        text-decoration: underline;
    }
}

.hero__present {
  display: flex;
  align-items: center;
}

.hero__desc {
  color: #fff;
  font-size: 65px;
  @include lifehack();
  line-height: 60px;
}

.hero__image, .hero__text {
  flex-basis: 470px;  
  margin-left: 10px;
}

.hero__text {
  margin-top: 60px;
}

.hero__image-pic {
  max-width: 100%;
}

.hero__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow__scroll {
  width: 30px;
  height: 30px;
  position: absolute;
  // bottom: 36px;
  left: 35%;
}

.arrow__link {
  position: absolute;
  height: 30px;
  left: 48.5%;
  bottom: 33px;
   // display: block;  
    &:hover {
        border-bottom: 2px solid #fff;
    }  
}

.arrow__icon {
  fill: #fff;
  height: 30px;
  width: 30px;
}