.menu {
    background: url('../img/bg/bg_4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}


.menu__title {
    position: absolute;
	top: 10%;
    left: 10%;
    
    @include tablets() {
        top: 8%;
        left: 3%;
    }
}

.menu__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.menu-acco {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.menu-acco__item {
    display: flex;
    justify-content: flex-end;

    &.active {
        width: 50%;

        .menu-acco__content {
            width: 100%;        
        }

        @include tablets() {
            width: 100%;
        }
    }
}

.menu-acco__wrap-title {
    @include tablets() {
        width: 100%;
        margin-bottom: rem(50px);
    } 

    @include tablets() {       
        margin-bottom: rem(100px);
    } 
}

.menu-acco__title {
    width: 80px;
    @include gagalin();
    font-size: rem(40px);
    line-height: rem(64px);
    color: #fff; 
    justify-content: center;
    align-items: center;
    display: flex;
    background: center no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        background: rgba(#141414, .7);        
        display: block;
        height: 100%;        
        position: absolute;        
        width: 100%;
    }

    @include tablets() {
        align-items: flex-end;  
        width: 60px;      
    } 

    @include phones {
        align-items: flex-end;  
        width: 45px;      
    } 
}

.menu-acco__deg {    
    white-space: nowrap;
    transform: rotate(-90deg);  
}

.menu-acco__content {
    background: rgba($black, .93);
    display: flex;   
    justify-content: center;
    overflow: hidden;
    width: 0; 
}

.menu-acco__desc {
    color: #fff;
    width: 80%;
    margin-top: 20%;    
    line-height: rem(24px);
    font-size: rem(14px);
    
    @include tablets() {
        width: 90%;        
    } 
}