.order {
  background: url("../img/bg/bg_5.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .section-title {
    text-align: center;
  }
}

.container-order {
  @include tablets() {
    padding-bottom: 19%;
  }     
}


.order__form-tag {
  padding-top: rem(50px);
  padding-bottom: rem(90px);

  @include tablets() {
    padding-bottom: 0;
  }

  @include phones {
    padding-top: rem(15px);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 687px) {
  .container-order {
    padding-bottom: 0;    
  }

  .order__form-tag {
    padding-top: 0;
  }
}

.order__form {
  margin-left: rem(-20px);
  display: flex;

  @include tablets() {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }  
}

.order__form-col {
  width: 50%;
  margin-left: rem(20px);

  @include tablets() {    
    margin-left: 0;
    width: 64%;
     margin-bottom: -5px;  
  } 

  @include phones {
    width: 100%;        
  }
}

.order__form-row {
  margin-bottom: rem(15px);
  display: flex;
  margin-left: rem(-15px);

  @include tablets() {
    margin-left: rem(-20px);
    margin-bottom: rem(20px);
  }
  
}

.order__form-label {
  margin-bottom: rem(7px);
  @include ubuntu();
  color: #fff;
  font-size: 14px;
}

.order__form-input {
  font-size: 14px;  
  padding: 8px 10px;
  border: rem(1px) solid #d1cfcb;
  border-radius: rem(5px);
  width: 100%;

  @include min-height {
    font-size: 12px;
    padding: 6px 10px;    
  }
}

.order__form-block {
  display: block;
  width: 100%;
  flex: 1;
  margin-left: rem(15px);

  @include tablets() {
    margin-left: rem(20px);
  }
}

.order__form-input_textarea {
  height: 110px;
  resize: none;

  @include min-height {
    height: 80px;
  }
}

.order__form-buttons {
  margin-left: rem(14px);
   
  .order__form-row {
    @include phones {      
      justify-content: center;
      padding-top: rem(20px);
    }

    @include min-height {
      padding-top: 0;
    }
  }  

  @include tablets {
    margin-left: rem(20px);
    margin-top: -8px;
  }

  @include phones {
    margin-left: rem(35px);
  }
}

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.order__radio-elem {
  position: absolute;
  top: 0;
  left: rem(-9999px);
}

.order__radio-fake {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  background: #fff;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: $red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
}

.order__radio-elem:checked {
  &+.order__radio-fake {
    &:after {
      width: rem(8px);
      height: rem(8px);
    }
  }
}

.order__radio-title {
  font-size: 14px;
  color: #fff;
  margin-left: rem(10px);
}

.order__radio_checkbox {
  .order__radio-fake {
    border-radius: rem(3px);
  }
  .order__radio-elem {
    &+.order__radio-fake {
      &:after {
        background: transparent;
      }
    }
  }
  .order__radio-elem:checked {
    &+.order__radio-fake {
      &:after {
        background: url("../img/icons/ch.png") center no-repeat transparent;
        background-size: contain;
        width: 70%;
        height: 70%;
      }
    }
  }
}

.order__form-button {
  margin-right: rem(20px);
  border: 0;
  background: $red;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: 10px 15px;
  cursor: pointer;  
}

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}

.order__order-btn {
  @include tablets {
      margin-top: rem(25px);
  }

  @include phones {
      margin-top: rem(5px);
  }
}

.order .section-title {
  @include phones {
    font-size: 50px;
    line-height: 60px;
    margin-top: 5px;
    margin-bottom: 25px;
  }  
  @include min-phones {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 0.9375rem;
  }  
}